
<div class="card">
  <div class="card-header">Sign Up</div>
<div class="card-body">
  <form>
    <fieldset>
        <div class="form-group">
        <label for="Name">Name Surname</label>
        <div class="btn-group duo">
            <input type="name" class="form-control" id="name" placeholder="Name">
            <input type="surname" class="form-control" id="surname" placeholder="Surname">
        </div>
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="Place">Place</label>
        <input type="place" class="form-control" id="place" placeholder="Place">
      </div>
      <div class="form-group">
          <label for="Address">Address</label>
          <textarea class="form-control" id="Address" rows="3" placeholder="Address"></textarea>
        <div class="btn-group duo">
            <input type="district" class="form-control" id="district" placeholder="District">
            <input type="city" class="form-control" id="city" placeholder="City">
        </div>
      </div>
      <div class="btn-group" data-toggle="buttons">
      <button type="button" class="btn btn-primary btn-lg sign">Sign Up</button>
      </div>
    </fieldset>
  </form>
</div>
