
<!--
<div class="jumbotron text-center" style="margin-top: 5%">
  <h1 class="display-3">Dene Bi</h1>
  <p class="lead">DeneBi ile size en uygun kursu bulun</p>
  <div    *ngIf="!authService.loggedIn()">
    <a class="btn btn-primary" [routerLinkActive]="['active']" [routerLink]="['/register']">Kayıt Ol <span class="glyphicon glyphicon-eur"></span></a> <a class="btn btn-dark" [routerLink]="['/login']">Giriş Yap</a>
  </div>

  <div   *ngIf="authService.loggedIn()">
      <a class="btn btn-dark" (click)="onLogoutClick()" href="#">Çıkış</a>
  </div>
    
</div>

<div class="row">
    
  <div  class="col-md-4">
    <h3 >Kurs Bulmanın en kolay yolu</h3>
    <p class="lead">Bir dokunuşla etrafınızdaki size uygun en iyi kursları bulun</p>
  </div>
  <div class="col-md-4">
    <h3 > Her zaman, her yerde </h3>
    <p class="lead">Günlük işe gidiş geliş. Şehirde alışveriş. Sabah erken saatte uçuş. Akşam arkadaşlarla buluşma. Nereye giderseniz gidin, Dene Bi yanınızda</p>
  </div>
  <div    class="col-md-4"   >
    <h3 >Giriş seviyesinden uzmanlık seviyelerine</h3>
    <p class="lead"> İster deneyimli ister yeni başlamış olun size uygun kursa hemen ulaşın</p>
  </div>
</div>

-->


<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="main-page-login">
      <app-form-card ></app-form-card>
    </div>
  </main>
</div>
